@import url(default_mod_application.css);
a.svg {
  position: relative;
  display: inline-block; }

a.svg:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.white-top-bordered {
  border-top: 1px solid #fff; }

.nodata, .warning {
  background-color: transparent;
  border: none;
  color: #b5b5b5;
  text-align: left;
  padding: 10px 10px 10px 0px;
  margin: 0px; }
  .nodata:before, .warning:before {
    content: "\f071";
    font-family: FontAwesome;
    margin-right: 5px; }

body, html {
  font-family: Source Sans Pro, sans-serif;
  background: #fff; }
  body .action-login, html .action-login {
    background: url(../images/login_background.jpg);
    background-size: cover; }
  body label, html label {
    font-weight: normal; }
  body input[type="radio"], body input[type="checkbox"], html input[type="radio"], html input[type="checkbox"] {
    margin: 0px 4px 4px;
    padding-right: 4px; }
  body input[type="text"], html input[type="text"] {
    border: 1px solid #E8E8E8;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    margin: 0px 3px;
    padding: 5px; }
  body textarea, html textarea {
    border: 1px solid #E8E8E8;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    padding: 5px; }
  body select, html select {
    margin: 0px 5px; }
  body .radio, body .checkbox, html .radio, html .checkbox {
    margin-top: 0px;
    margin-bottom: 0px; }
  body legend, html legend {
    font-weight: 200;
    padding-bottom: 8px;
    padding-top: 8px; }
  body .toggle-multiselect, html .toggle-multiselect {
    background: none;
    padding: 3px; }
    body .toggle-multiselect:before, html .toggle-multiselect:before {
      content: "\f0fe";
      font-family: FontAwesome;
      color: #b5b5b5;
      font-size: 16px;
      vertical-align: middle; }

body.action-login #navbar {
  box-shadow: none !important; }
body.action-login #responsive {
  display: block !important; }

body.controller-welcome #main-wrapper {
  background: url(../images/brillant.png); }

#wrapper {
  font-family: Source Sans Pro, sans-serif;
  font-size: 14px;
  color: 404040; }
  #wrapper h1, #wrapper h2, #wrapper h3, #wrapper h4 {
    font-family: PT Sans, sans-serif;
    font-weight: normal; }
  #wrapper h1 {
    font-size: 24px; }
  #wrapper h2 {
    font-size: 22px; }
  #wrapper h3 {
    font-size: 20px; }
  #wrapper h4 {
    font-size: 18px; }
  #wrapper a {
    color: #404040; }
  #wrapper a:hover {
    color: #FDB140;
    text-decoration: none; }
  #wrapper .container-fluid {
    padding-left: 30px !important;
    padding-right: 30px !important; }
  #wrapper #top-menu-wrapper {
    background: #E6E6E6;
    border-bottom: 1px solid #BDBDBD; }
    #wrapper #top-menu-wrapper #top-menu {
      background: none;
      height: auto; }
      #wrapper #top-menu-wrapper #top-menu a {
        color: #575757;
        font-weight: normal;
        font-size: 12px; }
        #wrapper #top-menu-wrapper #top-menu a:hover {
          color: #000;
          text-decoration: none; }
      #wrapper #top-menu-wrapper #top-menu ul {
        padding: 0px 5px;
        line-height: 30px;
        text-transform: uppercase; }
        #wrapper #top-menu-wrapper #top-menu ul li:last-child a {
          border: none; }
        #wrapper #top-menu-wrapper #top-menu ul li a {
          margin: 0px;
          padding: 0px 5px;
          border-right: dotted 1px #AFAFAF; }
        @media screen and (max-width: 480px) {
          #wrapper #top-menu-wrapper #top-menu ul li .my-account {
            display: none; } }
      @media screen and (max-width: 992px) {
        #wrapper #top-menu-wrapper #top-menu #user-menu {
          display: none; } }
      #wrapper #top-menu-wrapper #top-menu #account .logout:before {
        content: "\f08b";
        font-family: FontAwesome;
        margin-right: 5px; }
      #wrapper #top-menu-wrapper #top-menu #account .my-account:before {
        content: "\f084";
        font-family: FontAwesome;
        margin-right: 5px; }
      #wrapper #top-menu-wrapper #top-menu #account li a {
        line-height: 30px; }
      @media screen and (max-width: 992px) {
        #wrapper #top-menu-wrapper #top-menu #account {
          text-align: right; } }
      #wrapper #top-menu-wrapper #top-menu #loggedas {
        color: #575757;
        line-height: 30px;
        margin: 0px;
        text-align: right; }
        @media screen and (max-width: 992px) {
          #wrapper #top-menu-wrapper #top-menu #loggedas {
            text-align: left; } }
  #wrapper #header-wrapper {
    background: #F5F5F5; }
    #wrapper #header-wrapper #header {
      color: #404040;
      margin: auto;
      padding: 0px;
      background: none; }
      #wrapper #header-wrapper #header a {
        color: #404040; }
        #wrapper #header-wrapper #header a:hover {
          color: #FDB140; }
      #wrapper #header-wrapper #header #logo {
        padding: 10px; }
        @media screen and (max-width: 765px) {
          #wrapper #header-wrapper #header #logo {
            text-align: center; } }
      #wrapper #header-wrapper #header #responsive {
        display: none;
        text-align: right;
        padding-top: 15px; }
        #wrapper #header-wrapper #header #responsive object {
          padding: 10px;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          -ms-border-radius: 4px;
          border-radius: 4px; }
        @media screen and (max-width: 765px) {
          #wrapper #header-wrapper #header #responsive {
            display: none !important; } }
      #wrapper #header-wrapper #header #quick-search {
        text-align: right; }
        @media screen and (max-width: 765px) {
          #wrapper #header-wrapper #header #quick-search {
            text-align: center; } }
        #wrapper #header-wrapper #header #quick-search form {
          display: block;
          margin: 10px 0px; }
          #wrapper #header-wrapper #header #quick-search form label {
            font-weight: normal; }
            #wrapper #header-wrapper #header #quick-search form label a {
              vertical-align: middle; }
              #wrapper #header-wrapper #header #quick-search form label a:hover {
                text-decoration: none; }
            #wrapper #header-wrapper #header #quick-search form label .fa-search {
              padding: 5px;
              font-size: 16px;
              vertical-align: middle;
              background: #e8e8e8;
              color: #b5b5b5;
              -webkit-border-radius: 4px;
              -moz-border-radius: 4px;
              -ms-border-radius: 4px;
              border-radius: 4px; }
          #wrapper #header-wrapper #header #quick-search form input {
            border: thin solid #e8e8e8;
            padding: 5px; }
      #wrapper #header-wrapper #header #navbar {
        background: white;
        margin-left: -30px;
        margin-right: -30px;
        box-shadow: 0px 5px 5px -2px #ECECEC;
        z-index: 2; }
        #wrapper #header-wrapper #header #navbar #page-title {
          border-right: solid thin whitesmoke; }
          #wrapper #header-wrapper #header #navbar #page-title h1 {
            color: #404040;
            margin: 0px;
            padding: 0px;
            font-family: Source Sans Pro,sans-serif;
            font-weight: 200;
            font-size: 18px;
            line-height: 26px;
            padding: 10px 0px; }
            @media screen and (max-width: 992px) {
              #wrapper #header-wrapper #header #navbar #page-title h1 {
                text-align: center; } }
            #wrapper #header-wrapper #header #navbar #page-title h1 a {
              color: #094FA4; }
              #wrapper #header-wrapper #header #navbar #page-title h1 a:hover {
                color: #fdb140;
                text-decoration: none; }
        #wrapper #header-wrapper #header #navbar #main-menu {
          position: relative;
          margin: 0px; }
          @media screen and (max-width: 480px) {
            #wrapper #header-wrapper #header #navbar #main-menu {
              border-top: 1px solid #E5E5E5;
              padding: 10px 0px; } }
          #wrapper #header-wrapper #header #navbar #main-menu #resp-menu {
            font-size: 18px;
            font-weight: 200; }
            @media screen and (max-width: 480px) {
              #wrapper #header-wrapper #header #navbar #main-menu #resp-menu {
                display: block !important;
                text-align: center; } }
            #wrapper #header-wrapper #header #navbar #main-menu #resp-menu:hover {
              color: #404040; }
            #wrapper #header-wrapper #header #navbar #main-menu #resp-menu .fa-align-justify {
              margin-right: 5px;
              font-weight: lighter; }
          @media screen and (max-width: 992px) {
            #wrapper #header-wrapper #header #navbar #main-menu #main-menu-content {
              float: left;
              width: 100%; } }
          @media screen and (max-width: 480px) {
            #wrapper #header-wrapper #header #navbar #main-menu #main-menu-content {
              display: none;
              text-align: center; } }
          #wrapper #header-wrapper #header #navbar #main-menu #main-menu-content ul {
            position: relative;
            padding: 10px 0px; }
            @media screen and (max-width: 992px) {
              #wrapper #header-wrapper #header #navbar #main-menu #main-menu-content ul {
                text-align: center; } }
            @media screen and (max-width: 480px) {
              #wrapper #header-wrapper #header #navbar #main-menu #main-menu-content ul {
                padding-bottom: 20px; } }
            @media screen and (max-width: 480px) {
              #wrapper #header-wrapper #header #navbar #main-menu #main-menu-content ul li {
                display: block; } }
            #wrapper #header-wrapper #header #navbar #main-menu #main-menu-content ul li a {
              color: #C4C4C4;
              font-family: Source Sans Pro,sans-serif;
              font-weight: 200;
              font-size: 18px;
              padding-top: 0px;
              padding-bottom: 0px; }
              #wrapper #header-wrapper #header #navbar #main-menu #main-menu-content ul li a:hover {
                color: #404040;
                text-decoration: none;
                background: none; }
            #wrapper #header-wrapper #header #navbar #main-menu #main-menu-content ul li .selected {
              color: #404040; }
              #wrapper #header-wrapper #header #navbar #main-menu #main-menu-content ul li .selected:hover {
                color: #404040; }
  #wrapper #main-wrapper {
    min-height: 900px; }
    #wrapper #main-wrapper #main.nosidebar #sidebar {
      display: none; }
    @media screen and (max-width: 480px) {
      #wrapper #main-wrapper #main #content {
        min-height: 600px; } }
    #wrapper #main-wrapper #main #content #login-form form {
      max-width: 350px;
      display: block;
      margin-top: 50px;
      padding: 20px 25px;
      background: #F5F5F5; }
      #wrapper #main-wrapper #main #content #login-form form .login-row {
        display: table;
        width: 100%;
        margin: 10px 0px; }
        #wrapper #main-wrapper #main #content #login-form form .login-row label {
          display: table-cell;
          width: 30%;
          font-weight: normal; }
        #wrapper #main-wrapper #main #content #login-form form .login-row #username, #wrapper #main-wrapper #main #content #login-form form .login-row #password {
          display: table-cell;
          border: thin solid #E8E8E8;
          width: 100%;
          padding: 5px; }
      #wrapper #main-wrapper #main #content #login-form form .submit-row {
        display: table;
        width: 100%;
        margin: 20px 0px 10px;
        line-height: 30px; }
        @media screen and (max-width: 330px) {
          #wrapper #main-wrapper #main #content #login-form form .submit-row {
            text-align: right;
            margin-top: 10px; } }
        #wrapper #main-wrapper #main #content #login-form form .submit-row .fa-question-circle {
          vertical-align: middle;
          font-size: 20px;
          line-height: 30px;
          color: #cfcfcf;
          margin-left: 5px; }
        #wrapper #main-wrapper #main #content #login-form form .submit-row a {
          line-height: 30px;
          vertical-align: middle; }
        #wrapper #main-wrapper #main #content #login-form form .submit-row .login-btn {
          float: right;
          background: #F9AD06;
          color: #fff;
          border: none;
          padding: 0px 15px;
          height: 30px;
          vertical-align: middle;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          -ms-border-radius: 3px;
          border-radius: 3px; }
          #wrapper #main-wrapper #main #content #login-form form .submit-row .login-btn:hover {
            color: #7C4E1D; }
          @media screen and (max-width: 330px) {
            #wrapper #main-wrapper #main #content #login-form form .submit-row .login-btn {
              margin-top: 10px; } }
    #wrapper #main-wrapper #main #content #login-claim {
      font-family: Source Sans Pro,sans-serif;
      color: #fff;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
      text-align: right;
      font-weight: 200; }
      @media screen and (max-width: 992px) {
        #wrapper #main-wrapper #main #content #login-claim {
          text-align: left; } }
      #wrapper #main-wrapper #main #content #login-claim .claim-headertext {
        font-family: Source Sans Pro,sans-serif;
        font-weight: 200;
        font-size: 70px;
        line-height: 70px;
        margin: 45px 60px 10px 0px;
        padding: 0px; }
        @media screen and (max-width: 992px) {
          #wrapper #main-wrapper #main #content #login-claim .claim-headertext {
            font-size: 48px;
            line-height: 52px;
            margin: 30px 0px 0px 0px;
            padding: 0px; } }
      #wrapper #main-wrapper #main #content #login-claim .claim-text {
        font-size: 20px;
        margin-right: 60px; }
        @media screen and (max-width: 992px) {
          #wrapper #main-wrapper #main #content #login-claim .claim-text {
            margin: 0px; } }
    #wrapper #main-wrapper #main #content #lost_password label {
      font-weight: normal; }
    #wrapper #main-wrapper #main #content #lost_password input {
      background: #F9AD06;
      color: #fff;
      border: none;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px;
      padding: 0px 15px;
      height: 30px;
      vertical-align: middle; }
      #wrapper #main-wrapper #main #content #lost_password input:hover {
        color: #7C4E1D; }
    #wrapper #main-wrapper #main #content #lost_password #mail {
      background: white;
      border: thin solid #e8e8e8;
      padding: 5px; }
      @media screen and (max-width: 480px) {
        #wrapper #main-wrapper #main #content #lost_password #mail {
          margin-bottom: 15px; } }
    #wrapper #main-wrapper #main #content #welcome-left {
      background: #595959;
      color: white;
      position: relative;
      min-height: 1200px;
      left: -15px; }
      @media screen and (max-width: 992px) {
        #wrapper #main-wrapper #main #content #welcome-left {
          left: 0px;
          min-height: 0px;
          background: transparent;
          color: #404040; } }
      #wrapper #main-wrapper #main #content #welcome-left h3 {
        font-family: Source Sans Pro,sans-serif;
        font-weight: 200;
        line-height: 35px;
        padding-left: 10px; }
        @media screen and (max-width: 992px) {
          #wrapper #main-wrapper #main #content #welcome-left h3 {
            text-align: center; } }
      #wrapper #main-wrapper #main #content #welcome-left .tooltip {
        font-size: 14px; }
      #wrapper #main-wrapper #main #content #welcome-left .tooltip-inner {
        min-width: 150px; }
      #wrapper #main-wrapper #main #content #welcome-left .welcome-menu {
        margin: 0px;
        padding: 0px;
        margin-right: 50px;
        text-align: right;
        font-weight: 200; }
        @media screen and (max-width: 1500px) {
          #wrapper #main-wrapper #main #content #welcome-left .welcome-menu {
            text-align: center;
            margin: 0px; } }
        #wrapper #main-wrapper #main #content #welcome-left .welcome-menu li {
          list-style: none;
          margin: 20px 0px;
          font-size: 20px; }
          @media screen and (max-width: 992px) {
            #wrapper #main-wrapper #main #content #welcome-left .welcome-menu li {
              display: inline-block; } }
          #wrapper #main-wrapper #main #content #welcome-left .welcome-menu li span {
            display: inline-block; }
            @media screen and (max-width: 1500px) {
              #wrapper #main-wrapper #main #content #welcome-left .welcome-menu li span {
                display: block;
                min-width: 80px; } }
            @media screen and (max-width: 992px) {
              #wrapper #main-wrapper #main #content #welcome-left .welcome-menu li span {
                display: none; } }
          #wrapper #main-wrapper #main #content #welcome-left .welcome-menu li a {
            display: inline-block;
            color: #fdb74f;
            white-space: nowrap;
            width: 70px;
            height: 70px;
            line-height: 70px;
            vertical-align: middle;
            border: 2px solid #fdb74f;
            -webkit-border-radius: 80px;
            -moz-border-radius: 80px;
            -ms-border-radius: 80px;
            border-radius: 80px;
            overflow: hidden;
            text-align: center;
            margin-left: 20px; }
            @media screen and (max-width: 1500px) {
              #wrapper #main-wrapper #main #content #welcome-left .welcome-menu li a {
                margin-left: 0px; } }
            @media screen and (max-width: 992px) {
              #wrapper #main-wrapper #main #content #welcome-left .welcome-menu li a {
                margin: 0px 5px; } }
            #wrapper #main-wrapper #main #content #welcome-left .welcome-menu li a:hover {
              transition: all 0.2s ease-in 0s;
              -moz-transition: all 0.2s ease-in 0s;
              -webkit-transition: all 0.2s ease-in 0s;
              -o-transition: all 0.2s ease-in 0s;
              color: white;
              border-color: white; }
              @media screen and (max-width: 992px) {
                #wrapper #main-wrapper #main #content #welcome-left .welcome-menu li a:hover {
                  color: #404040;
                  border-color: #404040; } }
            #wrapper #main-wrapper #main #content #welcome-left .welcome-menu li a .fa {
              font-size: 35px;
              line-height: 66px; }
            #wrapper #main-wrapper #main #content #welcome-left .welcome-menu li a .fa-users {
              font-size: 31px; }
            #wrapper #main-wrapper #main #content #welcome-left .welcome-menu li a .fa-ticket {
              font-size: 38px; }
            #wrapper #main-wrapper #main #content #welcome-left .welcome-menu li a .fa-book {
              font-size: 31px; }
            #wrapper #main-wrapper #main #content #welcome-left .welcome-menu li a .fa-cogs {
              font-size: 31px; }
    #wrapper #main-wrapper #main #content #welcome-right {
      padding-right: 0px; }
      @media screen and (max-width: 992px) {
        #wrapper #main-wrapper #main #content #welcome-right {
          padding-right: 15px; } }
      #wrapper #main-wrapper #main #content #welcome-right .projects, #wrapper #main-wrapper #main #content #welcome-right .news {
        background: #F5F5F5;
        margin: 0px;
        padding: 0px;
        padding: 20px;
        margin: 20px 0px; }
        #wrapper #main-wrapper #main #content #welcome-right .projects .projects-arrow, #wrapper #main-wrapper #main #content #welcome-right .news .projects-arrow {
          color: #F5F5F5;
          font-size: 70px;
          line-height: 0px;
          left: -40px;
          line-height: 0;
          position: relative;
          display: block;
          top: 15px; }
          @media screen and (max-width: 992px) {
            #wrapper #main-wrapper #main #content #welcome-right .projects .projects-arrow, #wrapper #main-wrapper #main #content #welcome-right .news .projects-arrow {
              display: none; } }
        #wrapper #main-wrapper #main #content #welcome-right .projects h3, #wrapper #main-wrapper #main #content #welcome-right .news h3 {
          margin: 0px 0px 10px 0px;
          padding: 0px; }
          #wrapper #main-wrapper #main #content #welcome-right .projects h3 .fa, #wrapper #main-wrapper #main #content #welcome-right .news h3 .fa {
            padding: 5px;
            background: #e8e8e8;
            color: #c2c2c2;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            border-radius: 4px;
            float: right; }
        #wrapper #main-wrapper #main #content #welcome-right .projects .projects-list, #wrapper #main-wrapper #main #content #welcome-right .news .projects-list {
          list-style: none;
          margin: 0px;
          padding: 0px; }
          #wrapper #main-wrapper #main #content #welcome-right .projects .projects-list li .project-title, #wrapper #main-wrapper #main #content #welcome-right .news .projects-list li .project-title {
            padding: 10px 0px 0px 0px;
            border-bottom: none; }
            #wrapper #main-wrapper #main #content #welcome-right .projects .projects-list li .project-title .project_date, #wrapper #main-wrapper #main #content #welcome-right .news .projects-list li .project-title .project_date {
              font-family: Source Sans Pro;
              font-weight: 200 !important;
              font-size: 14px; }
              #wrapper #main-wrapper #main #content #welcome-right .projects .projects-list li .project-title .project_date .fa-calendar, #wrapper #main-wrapper #main #content #welcome-right .news .projects-list li .project-title .project_date .fa-calendar {
                vertical-align: text-top;
                padding: 2px; }
          #wrapper #main-wrapper #main #content #welcome-right .projects .projects-list li .project-content, #wrapper #main-wrapper #main #content #welcome-right .news .projects-list li .project-content {
            border-left: 5px solid #e8e8e8;
            padding-left: 10px; }
    #wrapper #main-wrapper #main #content .mypage-box h3 {
      font-size: 20px;
      font-weight: 200;
      font-family: Source Sans Pro,sans-serif; }
    #wrapper #main-wrapper #main #content .mypage-box .total-hours {
      font-size: 100%;
      font-weight: normal; }
    #wrapper #main-wrapper #main #content #new_project {
      float: left;
      margin-bottom: 50px; }
    #wrapper #main-wrapper #main #content #issue-form {
      float: left;
      width: 100%;
      margin-bottom: 50px; }
    #wrapper #main-wrapper #main #content .tabs ul li a {
      font-weight: normal;
      background: white;
      color: #DADADA; }
      #wrapper #main-wrapper #main #content .tabs ul li a.selected {
        color: #404040; }
    #wrapper #main-wrapper #main #content .contextual {
      margin-top: 20px; }
    #wrapper #main-wrapper #main #content #activity h3 {
      font-size: 20px;
      font-weight: 200;
      font-family: Source Sans Pro,sans-serif; }
    #wrapper #main-wrapper #main #content #activity dl {
      margin: 0px;
      padding: 0px; }
      #wrapper #main-wrapper #main #content #activity dl dt {
        margin: 0px;
        padding: 0px; }
        #wrapper #main-wrapper #main #content #activity dl dt .time {
          font-weight: normal; }
          #wrapper #main-wrapper #main #content #activity dl dt .time:before {
            content: "\f017";
            font-family: FontAwesome;
            margin-right: 5px; }
        #wrapper #main-wrapper #main #content #activity dl dt .project, #wrapper #main-wrapper #main #content #activity dl dt a {
          font-weight: normal; }
      #wrapper #main-wrapper #main #content #activity dl dd {
        margin: 0px;
        padding: 0px;
        margin: 0px 0px 20px; }
    #wrapper #main-wrapper #main #content .jstElements button {
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px;
      background-color: #dddddd;
      /* Fallback Color */
      background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#dddddd));
      /* Saf4+, Chrome */
      background-image: -webkit-linear-gradient(top, white, #dddddd);
      /* Chrome 10+, Saf5.1+, iOS 5+ */
      background-image: -moz-linear-gradient(top, white, #dddddd);
      /* FF3.6 */
      background-image: -ms-linear-gradient(top, white, #dddddd);
      /* IE10 */
      background-image: -o-linear-gradient(top, white, #dddddd);
      /* Opera 11.10+ */
      background-image: linear-gradient(top, white, #dddddd);
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='$fromColor', EndColorStr='$toColor');
      height: 30px;
      width: 30px;
      padding: 0px;
      border-color: #BCBCBC;
      text-shadow: 0 1px 0 #FFFFFF;
      margin-bottom: 5px; }
      #wrapper #main-wrapper #main #content .jstElements button:hover {
        color: #6699FF; }
    #wrapper #main-wrapper #main #content .jstElements .jstb_strong:before {
      content: "\f032";
      font-family: FontAwesome; }
    #wrapper #main-wrapper #main #content .jstElements .jstb_em:before {
      content: "\f033";
      font-family: FontAwesome; }
    #wrapper #main-wrapper #main #content .jstElements .jstb_ins:before {
      content: "\f0cd";
      font-family: FontAwesome; }
    #wrapper #main-wrapper #main #content .jstElements .jstb_del:before {
      content: "\f0cc";
      font-family: FontAwesome; }
    #wrapper #main-wrapper #main #content .jstElements .jstb_code:before {
      content: "\f121";
      font-family: FontAwesome; }
    #wrapper #main-wrapper #main #content .jstElements .jstb_link:before {
      content: "\f02d";
      font-family: FontAwesome; }
    #wrapper #main-wrapper #main #content .jstElements .linker:before {
      content: "\f0c1";
      font-family: FontAwesome; }
    #wrapper #main-wrapper #main #content .jstElements .jstb_img:before {
      content: "\f03e";
      font-family: FontAwesome; }
    #wrapper #main-wrapper #main #content #pretty_preview_label {
      cursor: pointer;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px;
      background-color: #dddddd;
      /* Fallback Color */
      background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#dddddd));
      /* Saf4+, Chrome */
      background-image: -webkit-linear-gradient(top, white, #dddddd);
      /* Chrome 10+, Saf5.1+, iOS 5+ */
      background-image: -moz-linear-gradient(top, white, #dddddd);
      /* FF3.6 */
      background-image: -ms-linear-gradient(top, white, #dddddd);
      /* IE10 */
      background-image: -o-linear-gradient(top, white, #dddddd);
      /* Opera 11.10+ */
      background-image: linear-gradient(top, white, #dddddd);
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='$fromColor', EndColorStr='$toColor');
      padding: 3px 8px;
      border: 1px solid #BCBCBC;
      margin: 5px 0px 8px;
      clear: both;
      text-shadow: 0 1px 0 #FFFFFF; }
      #wrapper #main-wrapper #main #content #pretty_preview_label:hover {
        color: #6699FF; }
      #wrapper #main-wrapper #main #content #pretty_preview_label:before {
        content: "\f06e";
        font-family: FontAwesome;
        margin-right: 5px; }
    #wrapper #main-wrapper #main #content #pretty_preview {
      margin: 0px 0px 20px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px;
      border-color: #E8E8E8;
      background: transparent; }
    #wrapper #main-wrapper #main #sidebar {
      background: #595959;
      color: white;
      min-height: 1200px;
      position: relative;
      left: -15px; }
      @media screen and (max-width: 992px) {
        #wrapper #main-wrapper #main #sidebar {
          min-height: 0px;
          margin-right: -30px;
          padding-top: 10px;
          padding-bottom: 10px; } }
      #wrapper #main-wrapper #main #sidebar #resp-options {
        font-size: 18px;
        font-weight: 200;
        color: white; }
        @media screen and (max-width: 992px) {
          #wrapper #main-wrapper #main #sidebar #resp-options {
            display: block !important;
            text-align: center; } }
        #wrapper #main-wrapper #main #sidebar #resp-options .fa-cog {
          margin-right: 5px; }
      @media screen and (max-width: 992px) {
        #wrapper #main-wrapper #main #sidebar #sidebar-content {
          display: none;
          margin-top: 10px;
          text-align: center; } }
      #wrapper #main-wrapper #main #sidebar #sidebar-content a {
        color: white; }
        #wrapper #main-wrapper #main #sidebar #sidebar-content a:hover {
          color: #fdb140; }
        #wrapper #main-wrapper #main #sidebar #sidebar-content a.selected {
          color: #fdb140; }
      #wrapper #main-wrapper #main #sidebar #sidebar-content ul {
        font-size: 18px;
        font-weight: 200; }
        #wrapper #main-wrapper #main #sidebar #sidebar-content ul li {
          margin: 0px; }
          #wrapper #main-wrapper #main #sidebar #sidebar-content ul li label a {
            font-size: 18px;
            font-weight: 200; }
          #wrapper #main-wrapper #main #sidebar #sidebar-content ul li a {
            margin: 0px;
            padding: 0px; }
            #wrapper #main-wrapper #main #sidebar #sidebar-content ul li a.selected {
              margin: 0px;
              padding: 0px; }
      #wrapper #main-wrapper #main #sidebar #sidebar-content p {
        margin-top: 10px; }
      #wrapper #main-wrapper #main #sidebar #sidebar-content h3 {
        color: white;
        font-family: Source Sans Pro,sans-serif;
        font-weight: 200;
        line-height: 35px; }
        @media screen and (max-width: 992px) {
          #wrapper #main-wrapper #main #sidebar #sidebar-content h3 {
            display: none; } }
      #wrapper #main-wrapper #main #sidebar #sidebar-content input {
        background: #F9AD06;
        color: #fff;
        border: none;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        border-radius: 3px;
        padding: 0px 15px;
        height: 30px;
        vertical-align: middle; }
        #wrapper #main-wrapper #main #sidebar #sidebar-content input:hover {
          color: #7C4E1D; }
      #wrapper #main-wrapper #main #sidebar #sidebar-content .icon-time {
        margin: 0px;
        padding: 0px; }
        #wrapper #main-wrapper #main #sidebar #sidebar-content .icon-time:before {
          content: "\f017";
          font-family: FontAwesome;
          margin-right: 5px;
          color: #8B8B8B; }
  #wrapper #footer-wrapper {
    background: #F5F5F5;
    border-top: 5px solid #E6E6E6;
    height: 80px; }
    #wrapper #footer-wrapper #footer {
      background: none;
      border: none;
      color: #404040;
      margin-top: 10px; }
